body {
  display: flex;
  background-image: url("../../assets/background3.avif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px; /* Ancho máximo del contenedor del formulario */
  margin: 0 auto; /* Centra el contenedor del formulario horizontalmente */
  padding: 20px; /* Espaciado interno del contenedor del formulario */
  background-color: rgba(
    230,
    96,
    125,
    0.3
  ); /* Color de fondo del contenedor del formulario */
  border-radius: 10px; /* Borde redondeado del contenedor del formulario */
  backdrop-filter: blur(20px);
  padding: 40px 40px;
  position: relative;
  border-radius: 20px;
  align-items: center;
}
.container-text {
  text-align: center; /* Alinea el texto del encabezado del formulario al centro */
  margin-bottom: 20px; /* Espacio inferior para separar el encabezado del formulario */
  color: #e28eb7;
  font-weight: 600;
  width: 100%;
  max-width: 380px;
}

.container-title {
  font-size: 32px;
  margin-left: 17.5%;
  text-align: center; /* Alinea el texto del encabezado del formulario al centro */
  margin-bottom: 10px; /* Espacio inferior para separar el encabezado del formulario */
  color: #f096c1;
  font-weight: 600;
  width: 100%;
  max-width: 380px;
  font-weight: bolder;

}
.form-group {
  margin-bottom: 20px; /* Espaciado inferior para separar los grupos de formulario */
}
.error-message {
  color: #f8f1f1; /* Color de texto para los mensajes de error */
  font-size: 0.8rem; /* Tamaño de fuente para los mensajes de error */
}

.form-text-content {
  color: #ebdde3;
  font-size: 14px;
}
.form-control {
  background-color: transparent;
  border-color: #dc8db3;
  color: #e0dedf; /* Color de texto para los campos de formulario */
  font-size: 14px;
}
select {
  background-color: transparent;
  border-color: #dc8db3;
  font-size: 10px;
}

p {
  color: rgb(252, 245, 232);
  font-size: 12px;
}
.btn {
  background-color: #e079ab;
  border: none;
  color: rgb(255, 251, 251);
  font-weight: 600;
  cursor: pointer;
  width: 50%;
  padding: 10px 20px; /* Espaciado interno del botón de envío */
  border-radius: 10px;
  
}
.btn:hover {
  background-color: #fff;
  color: #dc8db3;
  
}

/* Formulario.css */

.btn.btn-disabled {
  background-color: rgb(160, 156, 157) !important; /* Color deseado para el botón deshabilitado */
  border-color: gray !important; /* Borde del botón deshabilitado */
  cursor: not-allowed; /* Cambia el cursor cuando el botón está deshabilitado */
}


.distribution {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  margin-top: 20px;
}

